.slider__horizontal_close {
    position: absolute;
    left: 7%;
    width: 91%;
    top: 11%;


}

.slider__horizontal_open {
    position: absolute;

    top: 12%;
    left: 7%;
    width: 78%;
}



@media (max-width:1465px) {

    .slider__horizontal_open {
        width: 70%;
        left: 12%;
        top: 12%;
    }

    .slider__horizontal_close {
        left: 7%;
        width: 91%;
        top: 13%;
    }
}

@media (max-width:1330px) {

    .slider__horizontal_open {
        width: 65%;
        left: 12%;
        top: 11%;
    }

    .slider__horizontal_close {
        width: 85%;
        left: 12%;
        top: 11%;
    }
}

@media (max-width:1090px) {

    .slider__horizontal_open {
        width: 60%;
        left: 12%;
        top: 10%;
    }

    .slider__horizontal_open {
        width: 60%;
        left: 12%;
        top: 10%;
    }


}

@media (max-width:950px) {

    .slider__horizontal_open {
        width: 60%;
        left: 14%;
        top: 10%;
    }

    .slider__horizontal_open {
        width: 79%;
        left: 15%;
        top: 10%;
    }
}

@media (max-width:735px) {

    .slider__horizontal_open {
        width: 50%;
        left: 17%;
        top: 10%;
    }

    .slider__horizontal_close {
        width: 76%;
        left: 19%;
        top: 10%;
    }
}


@media (max-width:580px) {

    .slider__horizontal_open {
        top: 10%;
        left: 25%
    }

    .slider__horizontal_close {
        top: 10%;
        left: 25%;
        width: 30%
    }
}

@media (max-width:580px) {

    .slider__horizontal_open,
    .slider__horizontal_close {

        display: none;
    }
}