$root-element: 'awssld';
$cos45: 0.7071;
$transition-bezier: cubic-bezier(0.5, 0.075, 0.25, 0.95);
$slider-height-percentage: 29%;
$slider-transition-duration: 575ms;

$organic-arrow-color: #6a6a6a;
$organic-arrow-thickness: 2px;
$organic-arrow-height: 20px;
$organic-arrow-border-radius: 2px;
$control-button-width: 5%;
$control-button-height: 15%;
$control-button-opacity: 0.6;
$control-button-hover-opacity: 0.75;
$control-button-background: transparent;
$loader-bar-color: #851515;
$loader-bar-height: 6px;
$control-bullet-color: #494959;
$control-bullet-active-color: #288BFF;
$content-background-color: #2f2f2f;