.row {
    height: 90px;
    min-width: 283px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    padding-right: 31px;

    color: white;
    font-weight: bold;
    font-size: 15px;
    border-radius: 7px;
    /* box-shadow: 0 3px 6px 0 rgba(228, 7, 7); */
    margin-right: 15px;
    margin-bottom: 30px;
}

.row:nth-child(1n) {
    background: #1A1A22;
}

.row:nth-child(2n) {
    background: #272731;
}

.container {
    display: flex;
}

.stars {
    height: 100%;
    width: auto;
    padding-right: 100%;

}



.price {
    float: right;
    position: relative;
    bottom: 100%;
    text-transform: uppercase;

}

.trophy {
    float: right;
    position: relative;
    bottom: 92%;
    left: 31.5%;
    font-size: 13px;
}

.completed {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.59);
    float: right;
    position: relative;
    bottom: 71%;
    left: 19%;

}