.slider__main_open {
    position: absolute;
    left: 7%;
    top: 25%;
    width: 78%;
}

.slider__main_close {
    position: absolute;
    left: 7%;
    top: 25%;
    width: 91%;
}

@media (max-width:1465px) {
    .slider__main_open {
        width: 70%;
        left: 12%;

    }
}

@media (max-width:1330px) {
    .slider__main_open {
        width: 65%;
        left: 12%;
        top: 26%;
    }

    .slider__main_close {
        width: 85%;
        left: 12%;
        top: 26%;

    }
}

@media (max-width:1090px) {
    .slider__main_open {
        width: 60%;
        left: 12%;
    }
}

@media (max-width:950px) {
    .slider__main_open {
        width: 60%;
        left: 14%;
    }

    .slider__main_close {
        left: 12%;
        width: 85%;
    }
}

@media (max-width:735px) {
    .slider__main_open {
        width: 50%;
        left: 17%;
        top: 22%;
    }

    .slider__main_close {
        left: 19%;
        width: 76%;
        top: 22%;
    }
}


@media (max-width:580px) {
    .slider__main_open {

        left: 25%;

    }
}

@media (max-width:580px) {

    .slider__main_open,
    .slider__main_close {

        display: none;
    }
}