.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 35px 0px;
    margin-top: -4%;
    height: 50px;
}

.header_close {
    position: absolute;
    left: 7%;
    width: 91%;
    top: 7%;


}

.header_open {
    position: absolute;

    top: 7%;
    left: 7%;
    width: 78%;
}



@media (max-width:1465px) {

    .header_open {
        width: 70%;
        left: 12%;
        top: 2%;
    }
}

@media (max-width:1330px) {

    .header_open {
        width: 65%;
        left: 12%;
        top: 3%;
    }

    .header_close {
        width: 85%;
        left: 12%;
        top: 3%;
    }
}

@media (max-width:1090px) {

    .header_open {
        width: 60%;
        left: 12%;
        top: 0%;
    }


}

@media (max-width:950px) {

    .header_open {
        width: 60%;
        left: 14%;
        top: 0%;
    }

    .header_open {
        width: 79%;
        left: 15%;
        top: 0%;
    }
}

@media (max-width:735px) {

    .header_open {
        width: 50%;
        left: 17%;
        top: 0%;
    }

    .header_close {
        width: 76%;
        left: 19%;
        top: 0%;
    }
}


@media (max-width:580px) {

    .header_open {
        top: 0%;
        left: 25%
    }

    .header_close {
        top: 0%;
        left: 25%;
        width: 30%
    }
}

@media (max-width: 1) {}

.search {
    display: flex;
    align-items: center;
    padding: 15px;
    background: #1A1A22;
    border-radius: 7px;
    width: 100%;
    max-width: 40%;
}

.search__input {
    flex-grow: 1;
    border: none;
    background: none;
    color: #fff;
    outline: none;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Nunito';
    padding: 0 10px;
}

.search__input::placeholder {
    color: #494959;
}

.search__settings-icon {
    cursor: pointer;
}

.search__icon {
    width: 25px;
    height: auto;
}

.header__list {
    display: flex;
    align-items: center;
    list-style: none;
}

.header__user {
    display: flex;
    align-items: center;
}

.header__user-info {
    display: flex;
    align-items: center;
}

.header__user-name {
    color: #fff;
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    margin: 0 1rem;
}

.header__user-img {
    border-radius: 50%;
    overflow: hidden;
    width: 57px;
    height: 57px;
}

.header__item {
    margin-left: 50px;
    cursor: pointer;
}

.header__icon {
    width: 25px;
    height: 25px;
    fill: #494959;
    transition: 0.2s ease-in-out;
}

.header__icon-inner {
    fill: #0D0D12;
}

.header__item:hover svg {
    fill: #288BFF;
}

.header__item:hover .header__icon-inner {
    fill: #fff;
}