@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');



.footer_close {
    position: sticky;
    width: 98%;
    bottom: 0%;


}

.footer_open {
    position: sticky;

    bottom: 0%;
    width: 85.5%;
}



@media (max-width:1465px) {

    .footer_open {
        width: 81.5%;

        bottom: 0%;
    }

    .footer__so-icons {
        margin-right: 8%;

    }
}

@media (max-width:1330px) {

    .footer_open .footer__so-icons {
        bottom: 0%;
        margin-right: 10%;
    }

    .footer_open .footer__so-icons {
        bottom: 0%;
    }

    .footer_close {
        width: 98%;
        bottom: 0%;

    }


}

@media (max-width:1090px) {

    .footer_open .footer__so-icons {
        bottom: 0%;
    }

    .footer_open .footer__logo {
        margin-left: 0%;
    }

    .footer__inner {
        padding: 44px 0;
        display: flex;
        align-items: center;
        flex-direction: column;
    }



    .footer__menu .menu__list {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        justify-content: center;
        margin-left: 5%;
    }

}

@media (max-width:950px) {

    .footer_open {
        bottom: 0%;

    }

    .footer_close {
        width: 98%;
        bottom: 0%;

    }


}

@media (max-width:735px) {

    .footer_open {
        bottom: 0%;

    }

    .footer_close {
        width: 98%;
        bottom: 0%;

    }
}


@media (max-width:580px) {

    .footer_open {
        bottom: 0%;


    }

    .footer_close {
        bottom: 0%;

        width: 98%;
    }

    .footer__menu .menu__list {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        justify-content: space-between;
        margin-left: 12%;
    }
}

.footer {
    background: #0A0A0E;
    font-family: 'Nunito', sans-serif;
    margin-right: -2%;
}


.footer__inner {
    padding: 44px 0;
    display: flex;
    align-items: center;
}

/* Logo */
.footer__logo {
    margin-left: 5%;
}

.footer__logo .logo__link {
    text-decoration: none;
}

.footer__logo .logo__img {
    width: 57px;
    height: 57px;
}

/* Menu */
.footer__menu {
    flex-grow: 1;
    padding: 0 70px;
}

.footer__menu .menu__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;

}

.footer__menu .menu__item {
    margin-right: 84px;
    padding: 5px 0;
}

.footer__menu .menu__link {
    color: #313143;
    text-decoration: none;
    font-size: 400;
    font-size: 16px;
}

.footer__menu .menu__link_active {
    color: #fff;
    text-decoration: underline;
}

.footer__menu .menu__link:hover {
    color: rgb(180, 180, 180, 0.7);
    text-decoration: underline;
    transition: 0.2s ease;
}

/* so-icons */
.footer__so-icons {
    margin-right: 5%;

}

.footer__so-icons .so-icons__list {
    display: flex;
    align-items: center;
    list-style: none;

}

.footer__so-icons .so-icons__item {
    width: 35px;
    height: 35px;
}

.footer__so-icons .so-icons__item:not(:last-child) {
    margin-right: 73px;
}

.footer__so-icons .so-icons__link {}

.footer__so-icons .so-icons__img {
    width: 100%;
    height: 100%;
}